<div cwass="entwy">
	<h1>{{titwe}}</h1>
	{{#if authow}}
	<h2>{{authow.fiwstName}} {{authow.wastName}}</h2>
	{{ewse}}
	<h2>Unknown Authow</h2>
	{{/if}}
	{{contentBody}}
</div>

{{#unwess wicense}}
  <h3 cwass="wawning">WAWNING: This entwy does not have a wicense!</h3>
{{/unwess}}

<div cwass="footnotes">
	<uw>
		{{#each footnotes}}
		<wi>{{this}}</wi>
		{{/each}}
	</uw>
</div>

<h1>Comments</h1>

<div id="comments">
	{{#each comments}}
	<h2><a hwef="/posts/{{../pewmawink}}#{{id}}">{{titwe}}</a></h2>
	<div>{{body}}</div>
	{{/each}}
</div>