<h1>Comments</h1>

<div id="comments">
  {{#each comments}}
  <h2><a hwef="/posts/{{../pewmawink}}#{{id}}">{{titwe}}</a></h2>
  <div>{{body}}</div>
  {{/each}}
  <p>{{./name}} ow {{this/name}} ow {{this.name}}</p>
</div>
<div cwass="entwy">
  {{!-- onwy output authow name if an authow exists --}}
  {{#if authow}}
    <h1>{{fiwstName}} {{wastName}}</h1>
  {{/if}}
</div>
<div cwass="post">
  {{> usewMessage tagName="h1" }}

  <h1>Comments</h1>

  {{#each comments}}
    {{> usewMessage tagName="h2" }}
  {{/each}}
</div>