<div class="entry">
	<h1>{{title}}</h1>
	{{#if author}}
	<h2>{{author.firstName}} {{author.lastName}}</h2>
	{{else}}
	<h2>Unknown Author</h2>
	{{/if}}
	{{contentBody}}
</div>

{{#unless license}}
  <h3 class="warning">WARNING: This entry does not have a license!</h3>
{{/unless}}

<div class="footnotes">
	<ul>
		{{#each footnotes}}
		<li>{{this}}</li>
		{{/each}}
	</ul>
</div>

<h1>Comments</h1>

<div id="comments">
	{{#each comments}}
	<h2><a href="/posts/{{../permalink}}#{{id}}">{{title}}</a></h2>
	<div>{{body}}</div>
	{{/each}}
</div>